Source: opentracker
Section: scibian
Priority: optional
Maintainer: Scibian Project <packaging@scibian.org>
Build-Depends:
 debhelper (>= 9),
 zlib1g-dev,
 libowfat-dev
Standards-Version: 3.9.6
Homepage: http://erdgeist.org/arts/software/opentracker
Vcs-Browser: https://github.com/scibian/opentracker
Vcs-Git: https://github.com/scibian/opentracker.git


Package: opentracker
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: bittorrent tracker
 This package contains an open and free bittorrent tracker project.
 It aims for minimal resource usage and is intended to run at your
 wlan router. Currently it is deployed as an open and free tracker
 instance.
